* {
    --primary-color: #2e3440;
    --secondary-color: #3b4252;
    --main-font-color: #D8DEE9; 
    --alternate-font-color: #FFFFFF;
    margin: 0;
    font-style: normal;
    font-size: large;
  }
   
header, footer {
    font-family: "Newsreader", serif;
}

main {
    font-family: "Outfit", serif;
}



header div {
    background-color: var(--primary-color) ;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--main-font-color);
    padding: 0 2%;
}

header img, footer img {
    width: 3rem;
    height: auto;
}

main {
    background-color: var(--main-font-color);
}

.hero img {
    width: 100%;
    height: 60vh;
    display: block;
    filter: brightness(60%);
}

nav {
    display: none;
    background-color: var(--secondary-color);
    justify-content: space-around;
    width: 100%;
}

nav a {
    transition: background-color 0.2s, ease-in-out, background-color 0.2s ease-in-out;
    text-decoration: none;
    color: var(--main-font-color);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 5px;
}

nav a:hover {
    background-color: var(--main-font-color);
    color: var(--primary-color);
}


nav.open {
    display: flex;
    flex-direction: column;
}

#menu {
    font-size: 1rem;
    border: 0;
    color: var(--main-font-color);
    background-color: var(--primary-color);
}

#menu::before {
    content: "☰";
}

#menu.open::before{
    content: "X";
}

.hero {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join {
    position: absolute;
    background-color: var(--primary-color);
    color: var(--main-font-color);
    padding: 10px 20px;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}
.join:hover {
    background-color: var(--main-font-color);
    color: var(--primary-color);
}

.cards section {
    background-color: var(--alternate-font-color);
    border: 1px solid black;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

.cards div {
    padding: 10px;
}
.event {
    grid-column: 1/3;
}

h3 {
    display: flex;
    background-color: var(--secondary-color);
    color: var(--alternate-font-color);
    height: 6vh;
    justify-content: center;
    align-items: center;
    font-size: larger;

}
.desc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.advertisements img {
    width: 50%;
    height: auto;
    transition: width 0.5s ease-in-out;
}

.advertisements img:hover {
    width: 60%;
}

footer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-color);
    color: var(--main-font-color);
    height: 20vh;

}

footer div {
    display: flex;
    align-items: center;

}

.info {
    display: flex;
    flex-direction: column;
}

.discoverpics {
    margin: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--alternate-font-color);
}

.heritage {
    width: 100%;
}

.discoverhighlights {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.discoverhighlights img {
    width: 100%;
}

.discovercards {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--primary-color);
}

.discoverpics img {
    width: 100%;
}

.discovercards h1 {
    font-size: 1.2rem;
    padding: 8px;
    text-align: center;
}

.visits {
    text-align: center;
    background-color: white;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--primary-color);
}

.formt {
    display: flex;
    align-items: center;
    justify-content: center;
}

legend {
    font-weight: bold;
    font-size: larger;
}

.form {
    background-color: var(--alternate-font-color);
    margin: 20px;
}

.formc {
    margin: 1rem;
    border-radius: 10px;
    background-color: var(--main-font-color);
    padding: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: .5px solid var(--secondary-color);
    border-radius: 10px;
}

fieldset label {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    height: 4vh;
    align-items: center;
    font-weight: bold;
    font-size: medium;
}

select, option {
    font-size: small;
    width: 50%;
    border: none;
    font-family: "outfit", serif;
}

input, textarea {
    font-size: small;
    border: 0;
    width: 50%;
    font-family: "outfit", serif;
}

input::placeholder  {
    font-size: small;
    font-family: "outfit", serif;
}

.submit {
    display: flex;
    justify-content: center;
}

.submit input {
    background-color: var(--primary-color);
    border: 0;
    padding: 8px;
    font-size: small;
    color: var(--alternate-font-color);
    font-weight: bold;
}

.submit input:hover {
    background-color: var(--secondary-color);
}

.formi {
    border: 0;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

.formi h1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--alternate-font-color);
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.memberships {
    padding: 10px;
}

.memberships div {
    margin: 1rem;
}

.thanks {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.member {
    background-color: var(--alternate-font-color);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);

}

.member img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}

#members {
    padding: 15px;

}

.directory-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px 20px;
    justify-content: center;
}

.directory-toggle button {
 margin-left: 10px;
 margin-right: 10px;   
 color: var(--primary-color);
 background-color: var(--main-font-color);
 width: 7rem;
 font-family: "Outfit", serif;
 border: 0;
 border-radius: 8px;
 transition: background-color 0.3s ease-in-out;
}

.directory-toggle button:hover {
    background-color: var(--alternate-font-color);
}

table {
    background-color: var(--alternate-font-color);
    font-size: 1rem;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

tbody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

tr:nth-child(even)
td {
    background-color: var(--main-font-color);
}
tr:nth-child(odd) {
    background-color: var(--alternate-font-color);
}