@media screen and (min-width: 800px) {
    * {
        --primary-color: #2e3440;
        --secondary-color: #3b4252;
        --main-font-color: #D8DEE9; 
        --alternate-font-color: #FFFFFF;
    }


    .images {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    header {
        display: flex;
    }

    header div {
        width: 50%;
    }


    nav {
        background-color: var(--primary-color);
        display: flex;
        justify-content: space-around;
        width: 50%;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}